@inherits ProComponentBase

@inject INavigationDomainService NavHelper
@inject IConfigDomainService GlobalConfig
@inject NavigationManager Nav

@implements IDisposable

@if (breadcrumbs.Count > 0)
{
    <div class="d-flex block-center pb-6 pt-1">
        <MBreadcrumbs @key="@(Guid.NewGuid())" Linkage Class="pa-0">
            <DividerContent>
                <div class="mx-2" style="height:16px; width:0.5px;border: 0.5px solid #A3AED0;"></div>
            </DividerContent>
            <ChildContent>
                <MBreadcrumbsItem Href="javascript:history.back(-1)">
                    <MIcon Size=20 Color="neutral-lighten-2">mdi-arrow-left</MIcon>
                </MBreadcrumbsItem>
                
                @for (var i = 0; i < breadcrumbs.Count; i++)
                {
                    var item = breadcrumbs[i];
                    var isLast = i == breadcrumbs.Count - 1;
                    <MBreadcrumbsItem Href="@item.Href">
                        <span class="@(isLast 
                                         ? "text-subtitle2 neutral-lighten-2--text" 
                                         : "text-body2")">
                            @item.Text
                        </span>
                    </MBreadcrumbsItem>
                }
            </ChildContent>
        </MBreadcrumbs>
    </div>
}